aniso8601
asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-appconf
django-bona-blog
django-braces
django-ckeditor
django-classy-tags
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-filter
django-js-asset
django-js-reverse
django-sekizai
django-social-share
django-taggit
django-tinymce
djangorestframework
graphene
graphene-django
graphql-core
graphql-relay
idna
iso8601
jsmin
model-mommy
Pillow
promise
psycopg2
pytz
requests
singledispatch
six
sqlparse
text-unidecode
tzdata
urllib3
whitenoise
gunicorn
